@model Warmhouse_Models.OrderHeader

<div class="text-center">

    @if (Model != null)
    {
        <h1 class="text-info">Замовлення створено</h1>
    }
    else
    {


    <h1 class="text-info">Inquiry Confirmation</h1>

    <p>We have recieved your inquiry and someone from our team will contact you shortly!</p>
    }
</div>